body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:473px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u3965 {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u3966 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:742px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3967 {
  position:absolute;
  left:26px;
  top:104px;
  width:420px;
  height:742px;
}
#u3968 {
  position:absolute;
  left:2px;
  top:363px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u3970 {
  position:absolute;
  left:59px;
  top:116px;
  width:41px;
  height:11px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u3971 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u3972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u3972 {
  position:absolute;
  left:222px;
  top:116px;
  width:25px;
  height:11px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u3973 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3974 {
  position:absolute;
  left:110px;
  top:114px;
  width:15px;
  height:15px;
}
#u3975 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3976 {
  position:absolute;
  left:343px;
  top:114px;
  width:15px;
  height:15px;
}
#u3977 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3978 {
  position:absolute;
  left:400px;
  top:114px;
  width:15px;
  height:15px;
}
#u3979 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u3980 {
  position:absolute;
  left:380px;
  top:116px;
  width:20px;
  height:11px;
  font-size:10px;
}
#u3981 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u3982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3982 {
  position:absolute;
  left:43px;
  top:150px;
  width:25px;
  height:25px;
}
#u3983 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3984 {
  position:absolute;
  left:209px;
  top:154px;
  width:57px;
  height:17px;
}
#u3985 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3986 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3987 {
  position:absolute;
  left:49px;
  top:201px;
  width:377px;
  height:102px;
}
#u3988 {
  position:absolute;
  left:2px;
  top:43px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3989 {
  position:absolute;
  left:68px;
  top:218px;
  width:118px;
  height:17px;
}
#u3990 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u3991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u3991 {
  position:absolute;
  left:68px;
  top:245px;
  width:339px;
  height:44px;
  font-size:12px;
  color:#999999;
}
#u3992 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  word-wrap:break-word;
}
#u3993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3993 {
  position:absolute;
  left:361px;
  top:214px;
  width:25px;
  height:25px;
}
#u3994 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u3995 {
  position:absolute;
  left:386px;
  top:221px;
  width:21px;
  height:11px;
  font-size:10px;
}
#u3996 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u3997 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3998 {
  position:absolute;
  left:49px;
  top:303px;
  width:377px;
  height:102px;
}
#u3999 {
  position:absolute;
  left:2px;
  top:43px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4000 {
  position:absolute;
  left:68px;
  top:320px;
  width:118px;
  height:17px;
}
#u4001 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u4002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u4002 {
  position:absolute;
  left:68px;
  top:347px;
  width:339px;
  height:44px;
  font-size:12px;
  color:#999999;
}
#u4003 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  word-wrap:break-word;
}
#u4004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4004 {
  position:absolute;
  left:361px;
  top:316px;
  width:25px;
  height:25px;
}
#u4005 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u4006 {
  position:absolute;
  left:386px;
  top:323px;
  width:21px;
  height:11px;
  font-size:10px;
}
#u4007 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u4008 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4009 {
  position:absolute;
  left:49px;
  top:405px;
  width:377px;
  height:102px;
}
#u4010 {
  position:absolute;
  left:2px;
  top:43px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u4011 {
  position:absolute;
  left:68px;
  top:422px;
  width:118px;
  height:17px;
  color:#CCCCCC;
}
#u4012 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u4013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u4013 {
  position:absolute;
  left:68px;
  top:449px;
  width:339px;
  height:44px;
  font-size:12px;
  color:#CCCCCC;
}
#u4014 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  word-wrap:break-word;
}
#u4015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#CCCCCC;
}
#u4015 {
  position:absolute;
  left:386px;
  top:425px;
  width:21px;
  height:11px;
  font-size:10px;
  color:#CCCCCC;
}
#u4016 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u4017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4017 {
  position:absolute;
  left:361px;
  top:418px;
  width:25px;
  height:25px;
  opacity:0.2;
}
#u4018 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
