body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:473px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u4459 {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u4460 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:742px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4461 {
  position:absolute;
  left:26px;
  top:104px;
  width:420px;
  height:742px;
}
#u4462 {
  position:absolute;
  left:2px;
  top:363px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u4464 {
  position:absolute;
  left:59px;
  top:116px;
  width:41px;
  height:11px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u4465 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u4466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u4466 {
  position:absolute;
  left:222px;
  top:116px;
  width:25px;
  height:11px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u4467 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4468 {
  position:absolute;
  left:110px;
  top:114px;
  width:15px;
  height:15px;
}
#u4469 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4470 {
  position:absolute;
  left:343px;
  top:114px;
  width:15px;
  height:15px;
}
#u4471 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4472 {
  position:absolute;
  left:400px;
  top:114px;
  width:15px;
  height:15px;
}
#u4473 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u4474 {
  position:absolute;
  left:380px;
  top:116px;
  width:20px;
  height:11px;
  font-size:10px;
}
#u4475 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u4476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4476 {
  position:absolute;
  left:43px;
  top:150px;
  width:25px;
  height:25px;
}
#u4477 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4478 {
  position:absolute;
  left:223px;
  top:154px;
  width:29px;
  height:17px;
}
#u4479 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4480 {
  position:absolute;
  left:65px;
  top:244px;
  width:345px;
  height:40px;
  font-size:14px;
}
#u4481 {
  position:absolute;
  left:2px;
  top:12px;
  width:341px;
  word-wrap:break-word;
}
